<style>
    <!--
    /* Font Definitions */
    @font-face{font-family:"Comic Sans MS";
      panose-1:3 15 7 2 3 3 2 2 2 4;}
    @font-face
      {font-family:"Century Gothic";
      panose-1:2 11 5 2 2 2 2 2 2 4;}
    @font-face
      {font-family:"Arial Black";
      panose-1:2 11 10 4 2 1 2 2 2 4;}
    /* Style Definitions */
    p.MsoNormal, li.MsoNormal, div.MsoNormal
      {margin-right:0pt;
      text-indent:0pt;
      margin-top:0pt;
      margin-bottom:5.0pt;
      text-align:left;
      font-family:"Comic Sans MS";
      font-size:6.9063pt;
      color:black;}
    h3
      {margin-right:0pt;
      text-indent:0pt;
      margin-top:0pt;
      margin-bottom:0pt;
      text-align:left;
      font-family:"Comic Sans MS";
      font-size:9.3237pt;
      color:black;
      font-weight:bold;}
    h2
      {margin-right:0pt;
      text-indent:0pt;
      margin-top:0pt;
      margin-bottom:0pt;
      text-align:left;
      font-family:"Comic Sans MS";
      font-size:12.4316pt;
      color:black;
      font-weight:bold;}
    ol
      {margin-top:0in;
      margin-bottom:0in;
      margin-left:-2197in;}
    ul
      {margin-top:0in;
      margin-bottom:0in;
      margin-left:-2197in;}
    @page
      {size:8.-2019in 11.2232in;}
    -->
    </style>